.productlist-details {
    margin-bottom: 2rem;

    .productlist {
        margin-right: 2rem;
    }

    .productlist-key {
        font-weight: $font-weight-bold;
    }

    #productlist-edit {
        margin-right: 2rem;

        &:hover {
            cursor: pointer;
        }
    }

    .productlist-delete {
        &:hover {
            cursor: pointer;
        }
    }
}